*{
    margin:0;
    padding:0;
  * box-sizing:border-box;
    font-f*mily:'Segoe UI',sans-serif;
}

body{
    background:#f8fbff;
    color:#222;
}

/* Navigation */

nav{
    display*flex*
    justify-content:space-between*
    align-items:center;
    paddi*g:25px 8%;
    background:white;
}*
.logo{
    font-size:24px;
    fo*t-weight:600;
    color:#0078d4;
}*
.menu{
    display:flex;
    gap:*5px;
}

.menu a{
    text-decoration:none;
    color:#333;
    font-weight:500;
}

/* Hero */

.hero{
    min-height:80vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 8%;
    background:
    linear-gradient(
        135deg,
        #f8fbff 0%,
        #eff7ff 50%,
        #e3f2ff 100%
    );
}

.hero-content{
    max-width:600px;
}

.badge{
    background:#dcefff;
    color:#0078d4;
    padding:8px 18px;
    border-radius:25px;
    font-size:14px;
    font-weight:600;
}

.hero h1{
    font-size:64px;
    line-height:1.1;
    margin:25px 0;
}

.hero h1 span{
    color:#0078d4;
}

.hero p{
    color:#555;
    font-size:18px;
    line-height:1.7;
    margin-bottom:35px;
}

.buttons{
    display:flex;
    gap:15px;
}

.primary{
    background:#0078d4;
    color:white;
    border:none;
    padding:14px 32px;
    border-radius:8px;
    cursor:pointer;
}

.secondary{
    background:white;
    border:1px solid #ddd;
    padding:14px 32px;
    border-radius:8px;
    cursor:pointer;
}

.hero-image{
    font-size:220px;
    color:#0078d4;
    opacity:.15;
}

/* Services */

.services{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:80px 8%;
}

.card{
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 5px 20px rgba(0,0,0,.06);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#0078d4;
    margin-bottom:12px;
}

.card p{
    color:#666;
    line-height:1.6;
}
